[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
coveralls = "*"
smart-open = "*"
boto3 = "*"

[dev-packages]
black = "==21.7b0"
isort = "*"
flake8 = "*" 
pylama = "*"
bandit = "*"
pytest = "*"
requests-mock = "*"
pytest-cov = "*"
moto = "*"

[requires]
python_version = "3.9"

[scripts]
awd = "python -c \"from awd.deposit import deposit; deposit()\""
