[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
click = "*"
sentry-sdk = "*"
smart-open = "*"

[dev-packages]
black = "*"
boto3-stubs = {extras = ["essential"], version = "*"}
coveralls = "*"
moto = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
requests-mock = "*"
ruff = "*"
types-requests = "*"

[requires]
python_version = "3.11"

[scripts]
awd  = "python -c \"from awd.cli import cli; cli()\""
