[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
boto3-stubs = {extras = ["essential","ses"], version = "*"}
click = "*"
sentry-sdk = "*"
smart-open = "*"
pynamodb = "*"
requests = "*"

[dev-packages]
black = "*"
coveralls = "*"
moto = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
requests-mock = "*"
ruff = "*"
types-requests = "*"
pre-commit = "*"
freezegun = "*"

[requires]
python_version = "3.11"

[scripts]
awd  = "python -c \"from awd.cli import cli; cli()\""
